@import "../../../public/assets/styles/variables.module.scss";

.mobileIconWrapper {
  position: relative;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;

  .linkWrapper {
    display: flex;
    margin: auto;

    .mobileIconActive {
      color: $hover-white;
    }

    .mobileIcon {
      color: white;
    }

    .mobileIcon:hover {
      color: $hover-white;
    }
  }

  .openArrow {
    position: absolute;
    z-index: 10;
    margin-left: 100%;
    padding-left: 4px;
    color: white;
  }

  .openArrow:hover {
    color: $hover-white;
  }

  .previousQuestions {
    position: absolute;
    z-index: 10;
    width: 700%;
    margin-left: 900%;
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding: 6px 10px 10px 10px;
    max-height: 12rem;
    overflow-y: scroll;
    border-radius: 0.4em;
    background-color: $primary-background;

    div {
      width: 100%;
      padding: 0.8rem;
      border-radius: 0.4em;
      transition: 0.4s;
      font-weight: 500;
      color: white;
      border-bottom: 2px solid lightgray;
      --mask: linear-gradient(
          to right,
          rgba(0, 0, 0, 1) 0,
          rgba(0, 0, 0, 1) 82%,
          rgba(0, 0, 0, 0) 95%,
          rgba(0, 0, 0, 0) 0
        )
        100% 50% / 100% 100% repeat-x;
      -webkit-mask: var(--mask);
      mask: var(--mask);
    }

    div:hover {
      background-color: $hover-white;
    }
  }


  .previousQuestions::-webkit-scrollbar {
    width:8px; 
  }
  
  .previousQuestions::-webkit-scrollbar-thumb {
    background-color:white; 
    border-radius: 6px; 
  }
  
  
  .previousQuestions::-webkit-scrollbar-track {
    background-color: transparent;
  }
  
  
  .previousQuestions::-webkit-scrollbar-corner {
    background-color: transparent; 
  }

}
