
@import '../../../public/assets/styles/variables.module.scss';

.upgradeBtn{
  width: 100%;
  margin:0 auto;
  display: flex;
  justify-content: center;

  @media screen and (min-width: 869px){
    padding: 2% 6%;
  }


  button{
   border: none;
   border-radius: 0.4em;
   cursor: pointer;
   transition: 0.4s;
   background-image: $button-colorful;
   color: white;
   align-items: center;
   justify-content: center;


   @media screen and (max-width: 869px){
     min-width: 5.2rem;
     width: 80%;
     height: 1.8rem;
     font-size: small;
     font-weight: 600;

     span{
      display: none;
     }
   }

   @media screen and (min-width: 869px){
     width: 100%;
     height: 3rem;
     font-size: medium;
     font-weight: bold;

    
   }
  }

  button:hover{
   transform: scale(1.05);
  }
 }