
@import '../../../public/assets/styles/variables.module.scss';

.upgradeBtn{
  width: 100%;
  margin:0 auto;
  display: flex;
  justify-content: center;

  @media screen and (min-width: 869px){
    padding: 2% 6%;
  }


  button{
   border: none;
   border-radius: 0.4em;
   cursor: pointer;
   transition: 0.4s;
   background-image: $button-colorful;
   color: white;


   @media screen and (max-width: 869px){
     width: 78%;
     height: 1.8rem;
     font-size: small;
     font-weight: bold;
     padding: 2px;
   }

   @media screen and (min-width: 869px){
     width: 100%;
     height: 3rem;
     font-size: medium;
     font-weight: bold;
   }
  }

  button:hover{
   transform: scale(1.05);
  }
 }