@import "../../public/assets/styles/variables.module.scss";

.settingsWrapper {
  margin: auto;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  @media screen and (min-width: 969px) {
    flex-direction: row;
    width: 90%;
  }

  @media screen and (max-width: 969px) {
    flex-direction: column;
    width: 100%;
    overflow-y: scroll;
  }

   .userDetails {
    height: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;

    @media screen and (min-width: 969px)  {
      width: 55%;
    }

    @media screen and (max-width: 969px) {
      width: 92%;
      border-bottom: 1px solid black;
    }

    .form {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      width: 100%;
      margin: auto;

      .userImageWrapper {
        position: relative;
        width:140px;
        height: 140px;
        display: flex;
        flex-direction: row;

        .removeImage{
          position: absolute;
          z-index: 10;
          top: 0;
          right: 0;
        }


        img {
          position: relative;
          width: 100%;
          height: 100%;
          border-radius: 0.5em;
          object-fit: cover;
        }

        input{
          position: relative;
          bottom: 0;
        }
      }
    }
  }

  .middleLine{

    @media screen and (min-width: 969px) {
      height:100%;
      border-right:1px solid black;
    }

    @media screen and (max-width: 969px) {
      display: none;
    }
  
  }

  .billingDetails {
    margin: auto;
    display: flex;
    height: 100%;
    flex-direction: column;
    gap: 2rem;
    padding: 1rem;

    @media screen and (min-width: 969px) {
      width: 50%;
    }

    @media screen and (max-width: 969px) {
      width: 92%;
    }

    .premiumDetails{
      display: flex;
      flex-direction: column;
      gap: 2rem;
      height: 90%;
      width: 90%;
      text-align: center;
      align-items: center;
      justify-content: center;
      margin: 0 auto;

      p {
        @media screen and (min-width: 969px) {
          font-size: large;
          font-weight: 600;
        }

        @media screen and (max-width: 969px) {
          font-size: medium;
          font-weight: 600;
        }
      }
    }

    .nonePremiumDetails {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      height: 90%;
      width: 90%;
      text-align: center;
      align-items: center;
      justify-content: center;
      margin: 0 auto;

      p {
        @media screen and (min-width: 969px) {
          font-size: large;
          font-weight: 600;
        }

        @media screen and (max-width: 969px) {
          font-size: medium;
          font-weight: 600;
        }
      }

      .upgradeBtn {
        width: 100%;
        margin: 0 auto;
        padding: 2% 2%;

        button {
          border: none;
          border-radius: 0.4em;
          cursor: pointer;
          transition: 0.4s;
          background-image: $button-colorful;
          width: 100%;
          color: white;

          @media screen and (max-width: 869px) {
            height: 1.8rem;
            font-size: small;
            font-weight: bold;
            padding: 2px;
          }

          @media screen and (min-width: 869px) {
            height: 3rem;
            font-size: large;
            letter-spacing: 1px;
            font-weight: bold;
          }
        }

        button:hover {
          transform: scale(1.05);
        }
      }
    }
  }
}

@media screen and (min-width: 800px) {
  .settingsWrapper::-webkit-scrollbar{
    width:22px;
    border-radius:10px ;
    border:0.2px solid rgba(72, 92, 110, 0.1);
    background-color:#f1f1f1;
  }
  .settingsWrapper::-webkit-scrollbar-track{
    background: #ffffff;
    border: none;
  }
  .settingsWrapper::-webkit-scrollbar-thumb{
    background-color: #b0b0b0;
    border: 8px solid transparent;
    background-clip: padding-box;
    border-radius: 10px;
    width:8px;
    height:64px;
  }
  
}

@media screen and (max-width: 800px) {
  .settingsWrapper::-webkit-scrollbar{
    display: none;
  }
}
