 
$green: #2ecc71;
$red: #e74c3c;
$blue: #3498db;
$black:black;
$purple: #8e44ad;
$white: white;

.red{
  box-sizing: border-box;
  appearance: none;
  background-color: transparent;
  border: 1.5px solid $red;
  border-radius: 0.4em;
  color: $red;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  gap: 15px;
  cursor: pointer;
  display: flex;
  align-self: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  justify-content: center;
  align-items: center;
  padding: 1.2em 2.8em;
  min-width: fit-content;
  max-width: 24rem;
  max-height: 5rem;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;

  &:hover{
    color: #fff;
    outline: 0;
  }

  &:active {
    transform: scale(0.95);
  }

  transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
  &:hover {
    box-shadow: 0 0 40px 40px $red inset;
  }
}




.green{
  box-sizing: border-box;
  appearance: none;
  background-color: transparent;
  border: 1.5px solid $green;
  border-radius: 0.4em;
  color: $green;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  gap: 15px;
  cursor: pointer;
  display: flex;
  align-self: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  justify-content: center;
  align-items: center;
  padding: 1.2em 2.8em;
  min-width: fit-content;
  max-width: 24rem;
  max-height: 5rem;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;

  &:hover{
    color: #fff;
    outline: 0;
  }

  &:active {
    transform: scale(0.95);
  }

  transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
  &:hover {
    box-shadow: 0 0 40px 40px $green inset;
  }
}

.black{
  box-sizing: border-box;
  appearance: none;
  background-color: transparent;
  border: 1px solid $black;
  border-radius: 0.4em;
  color: $black;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  gap: 15px;
  cursor: pointer;
  display: flex;
  align-self: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  justify-content: center;
  align-items: center;
  padding: 1.2em 2.8em;
  min-width: fit-content;
  max-height: 5rem;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;

  &:hover{
    color: #fff;
    outline: 0;
  }

  &:active {
    transform: scale(0.95);
  }

  transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
  &:hover {
    box-shadow: 0 0 40px 40px $black inset;
  }
}
// .black:hover .icon{
//   background-color: white;
// }

.blue{
  box-sizing: border-box;
  appearance: none;
  background-color: transparent;
  border: 1.5px solid $blue;
  border-radius: 0.4em;
  color: $blue;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  gap: 15px;
  cursor: pointer;
  display: flex;
  align-self: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  justify-content: center;
  align-items: center;
  padding: 1.2em 2.8em;
  min-width: fit-content;
  // max-width: 4rem;
  max-height: 5rem;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;

  &:hover{
    color: #fff;
    outline: 0;
  }

  &:active {
    transform: scale(0.95);
  }

  transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
  &:hover {
    box-shadow: 0 0 40px 40px $blue inset;
  }
}

.purple{
  box-sizing: border-box;
  appearance: none;
  background-color: transparent;
  border: 1.5px solid $purple;
  border-radius: 0.4em;
  color: $purple;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  gap: 15px;
  cursor: pointer;
  display: flex;
  align-self: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  justify-content: center;
  align-items: center;
  padding: 1.2em 2.8em;
  min-width: fit-content;
  max-width: 24rem;
  max-height: 5rem;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;

  &:hover{
    color: #fff;
    outline: 0;
  }

  &:active {
    transform: scale(0.95);
  }

  transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
  &:hover {
    box-shadow: 0 0 40px 40px $purple inset;
  }
}

.white{
  box-sizing: border-box;
  appearance: none;
  background-color: transparent;
  border: 1.5px solid $white;
  border-radius: 0.4em;
  color: $white;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  gap: 15px;
  cursor: pointer;
  display: flex;
  align-self: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  justify-content: center;
  align-items: center;
  padding: 1.2em 2.8em;
  min-width: fit-content;
  max-height: 5rem;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;

  &:hover{
    color: $black;
    outline: 0;
  }

  &:active {
    transform: scale(0.95);
  }

  transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
  &:hover {
    box-shadow: 0 0 40px 40px $white inset;
  }
}
