@import '../../public/assets/styles/variables.module.scss';

.main{
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  width: 100%;
  min-height: 100vh;
  height: max-content;
  text-align: center;
  background-color: $primary-background;

  a{
    text-decoration: none;
  }

  .header{
    @media screen and (max-width: 980px){
      width: 100%;
    }
    @media screen and (min-width: 980px){
      width: 80%;
    }
    height: 15%;
    align-items: center;
    margin: 0 auto;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.2rem;

    .logo{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      position: relative;
      align-items: center;
      gap: 10px;
      font-weight: 500;
      letter-spacing: 2px;
      font-size: larger;

      .text{
        color: white;
        font-weight: bolder;
        font-size: larger;
      }
    }

    .signinLink{
      color: white;
      font-weight: 500;
      font-size: larger;
      font-weight: bold;
      transition:0.4s;
    }

    .signinLink:hover{
      color:$hover-white;
    }
  }

  .mainContent{
    width: 100%;
    height: 45%;
    margin: auto;
    justify-content: center;
    padding-top: 5rem;

     .innerText{
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      gap: 3rem;

      h3{
        margin: 0 auto;
        font-size: 200%;
        width: 30%;
        min-width: fit-content;
        border-radius:2.6em;
        background-color: #FF3CAC;
        background-image: linear-gradient(225deg, #FF3CAC 14%, #784BA0 50%, #2B86C5 73%);
        padding:22px;
        color: whitesmoke;

        @media screen and (max-width: 910px){
         font-size: medium;
        }
      }

      p{
        font-size: larger;
        font-weight: 600;
        span{
          color: rgb(237, 237, 241);
        }
      }


      .signupbtn{
        margin:  0 auto;
        margin-top: 40px;
      }

      .moveNextArrow:hover{
        transform: scale(1.05);
        opacity: 0.84;
      }

     }
  }

  .footer{
    width: 100%;
    height:40%;
    margin-top: 20rem;
    margin: auto 0;
    justify-content: center;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    padding-top: 5rem;
  }
}





