.toast{
  height: fit-content;
  min-height: 5rem;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: 600;
  font-size: 16px;
  margin: auto;

  @media screen and (min-width: 1000px) {
     width:max-content;
  }

}