.toast{
  height: fit-content;
  min-height: 5rem;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: 600;
  font-size: large;

  @media screen and (min-width: 1000px) {
    width:600px;
  }

  @media screen and (max-width: 1000px) {
    width:300px;
  }
}