@import '../../../public/assets/styles/variables.module.scss';

.markdown{
 overflow: scroll;

  .pre{
    overflow: auto;
    border-radius: 0.4em;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 100%;
    max-width: 80%;
    padding: 5px;
  }

  .code{
    position: relative;
    display: flex;
    background-color:lightgrey;
    overflow: scroll;
    width: fit-content;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 0.4em;
    padding: 10px;
    align-items: center;
    line-height: normal;

    .copyIcon{
      position: absolute;
      z-index: 10;
      top: 0;
      right: 0;
      padding: 8px;
      cursor: pointer;
      transition: 0.2s;
    }

    .copyIcon:hover{
     opacity: 0.5;
    }
  }

  .code::-webkit-scrollbar{
    display: none;
  }

}

.markdown::-webkit-scrollbar{
  display: none;
}